body {
    font-family: Quicksand,sans-serif;
}

.header {
    height: 64px;
    background-color: #18191a;
}

.input_search {
    background-color: #3a3b3c;
    color: #b0b3b8;
    height: 44px;
    border-radius: 50px;
    border: solid 1px #3a3b3c;
    outline: none;
    padding: 0 45px 0 20px;
    width: 100%;
    margin-left: 1rem;
    position: absolute;
}

.icon_search {
    position: absolute;
    cursor: pointer;
    right: 0;
    font-size: 18px;
    color: #b0b3b8;
}

.button_auth {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    line-height: 34px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: #3f94d5;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
}

.navigation, .header {
    padding: 0 12%;
}

.navigation {
    background-color: #242526;
    height: 52px;
    width: 100%;
}

ul, ul>li {
    margin:0;
    padding:0;
    list-style:none;
    height: 100%;
}

ul>li:hover {
    background-color: #f29c57;
}

ul>li>a {
    display: flex;
    text-align: center;
    height: 100%;
    color: #e4e6eb;
    font-size: 15px;
    font-weight: 400;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

#genre {
    position: relative;
}

.content_hidden {
    position: absolute;
    padding: 22px 12%;
    background-color: #242526;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    height: auto;
    width: 100%;
    top: 52px;
    z-index: 9999;
}

.content_hidden a {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#genre_hide, #ranking_hide {
    display: none;
}

.login_popup {
    margin: 0 15px;
}

.input_auth {
    padding: 0 15px;
    height: 49px;
    border: 1px solid #ccc;
    font-size: 15px;
    color: #354052;
    outline: none;
    width: 100%;
    border-radius: 5px;
}

.input_password {
    position: relative;
    padding-right: 40px;
}

.icon_eye {
    position: absolute;
    width: 25px;
    right: 10px;
    cursor: pointer;
}

.label_input {
    text-align: left;
    color: #2E2E2E;
    line-height: 25px;
    font-size: 15px;
}

button.swal2-close {
    outline: none !important;
}

.popup_text_redirect {
    color: #5a7484;
    line-height: 35px;
    font-size: 15px;
    cursor: pointer;
}

.popup_text_redirect:hover {
    opacity: 0.7;
}

.divide_text {
    height: 18px;
    width: 1px;
    background-color: #5a7484;
}

#show_password {
    display: block;
}

#hide_password {
    display: none;
}

.button_forgot_password {
    background-color: #f18121;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    color: #fff;
    font-weight: 600;
}

.button_auth:hover {
    opacity: 0.8;
}

#personal_avatar {
    cursor: pointer;
    position: relative;
}

.modal_user {
    display: flex;
    color: white;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    width: 250px;
    z-index: 30;
    right: 12%;
    top: 64px;
    gap: 15px;
    box-shadow: 0 0 1px 0 #000;
    background-color: #3a3b3c;
}

.hidden_modal {
    display: none;
}

#search_result {
    position: absolute;
    width: 400px;
    max-height: 300px;
    height: auto;
    background-color: #3a3b3c;
    z-index: 34;
    top: 25px;
    margin-left: 1rem;
    border-radius: 4px;
    overflow: hidden;
    overflow-y: auto;
    display: none;
}

.search_element {
    padding: 10px;
}

.search_element:hover {
    background-color: #cacece;
}
