body {
    font-family: Quicksand,sans-serif;
}

.header {
    height: 64px;
    background-color: #18191a;
}

.input_search {
    background-color: #3a3b3c;
    color: #b0b3b8;
    height: 44px;
    border-radius: 50px;
    border: solid 1px #3a3b3c;
    outline: none;
    padding: 0 45px 0 20px;
    width: 100%;
    margin-left: 1rem;
    position: absolute;
}

.icon_search {
    position: absolute;
    cursor: pointer;
    right: 0;
    font-size: 18px;
    color: #b0b3b8;
}

.button_auth {
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
    line-height: 34px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: #3f94d5;
    width: 100px;
}

.navigation, .header {
    padding: 0 6rem;
}

.navigation {
    background-color: #242526;
    height: 52px;
    width: 100%;
}

ul, ul>li {
    margin:0;
    padding:0;
    list-style:none;
    height: 100%;
}

ul>li:hover {
    background-color: #f29c57;
}

ul>li>a {
    display: flex;
    text-align: center;
    height: 100%;
    color: #e4e6eb;
    font-size: 15px;
    font-weight: 400;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

#genre {
    position: relative;
}

.content_hidden {
    position: absolute;
    padding: 22px 6rem;
    background-color: #242526;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    height: auto;
    width: 100%;
    top: 52px;
}

.content_hidden a {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#genre_hide, #ranking_hide {
    display: none;
}


